.App {
  text-align: center;
}

body {
  background: red;
}

button {
  background: red;
  font-size: 20px;
  margin: 1rem;
  font-weight: 500;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background: url(`${process.env.PUBLIC_URL}${./img/MarvelLogo.png}`) no-repeat;
  background-size: cover; */
  background-color: #ed2324;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}